@model Models.LeaderboardView


<h4><b>@Model.SeasonName </b></h4>
@foreach (var entry in @Model.Entries)
{
    <li>@entry.UserName @entry.EloRating @entry.Form @Html.ActionLink("Player", "Index", "Player", routeValues: new {email = entry.UserName})</li>
}